
.tree {
  width: 100%;
  height: 100%;
    border-radius: 24px;

  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
    overflow: hidden;
    position: relative;
}
.tree-container {
  padding: 20px;
  position: absolute;
  background-color: #2e5cd6;
  width: 2000px;
  height: 2000px;
  
  /* overflow: hidden; */
}
.dieux-groupe{
  /* display: flex; */
  flex-direction: column;
  justify-items: center;
  /* justify-content: center; */
}
.lien{
  background-color:  var(--color-primary);
  width: 3px;
  height: 50px;
}
.dieux {
  /* position: absolute; */
  min-width: 150px;
  background: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}
.dieux.svg {
}
.flex {
  display: flex;
  height: fit-content;
  /* background: var(--color-primary); */
  gap: 20px;
  justify-content: center;
  /* position: absolute; */
  align-items: center;
  left: 50%; /* 950px = position x de Cronos */
}