.bouton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: fit-content;
  height: 40px;
  /* border: 0 solid var(--color-primary); */
}
.bouton .fond-texte {
        height: 100%;

  position: relative;
display: flex;
width: fit-content;
justify-content: center;
align-items: center;
/* border: 0 solid var(--color-primary); */
}

.bouton .texte {
    /* width: 380px; */

  display: flex;
height: 100%;
padding: 10px 40px;
justify-content: center;
align-items: center;
gap: -5px;
border-top: 3px solid var(--color-primary);
border-bottom: 3px solid var(--color-primary);
background: #140100;

position: relative;
/* left: -8px; */
color: var(--color-primary);
z-index: 10;
text-align: center;
font-family:  var(--font-title);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 80%;
}
.bouton .chapitre-name {
    width: 380px;


}


.bouton svg{
/* width: 25px; */
height: 100%;
position: relative;

fill: #140100;

stroke-width: 9px;
stroke: var(--color-primary);
}

.bouton .svg-left {
  left: 4px;
}
.bouton .svg-right {
  right: 4.5px;
}
.square {
  width: 10px;
  height: 10px;
border: 3px solid #000;

background: #FFF;

box-shadow: 0 0 0 3px #FF6200;
  transform: rotate(45deg);
}
.square.left {
  position: relative;
  z-index: 20;
  left: 11.5px;
}
.square.right {
  position: relative;
  z-index: 20;
  right: 11.5px;
}



.bouton.titre {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: fit-content;
  height: 99px;
  /* border: 0 solid var(--color-primary); */
}
.bouton.titre .fond-texte {
    height: 100%;
  position: relative;
display: flex;
width: fit-content;
justify-content: center;
align-items: center;
/* border: 0 solid var(--color-primary); */
}

.bouton.titre .texte {
  display: flex;
height: 99px;
padding: 10px 40px;
justify-content: center;
align-items: center;
gap: 10px;
border-top: 4px solid var(--color-primary);
border-bottom: 4px solid var(--color-primary);
background: #140100;

position: relative;
/* left: -8px; */
color: var(--color-primary);
z-index: 10;
text-align: center;
font-family:  var(--font-title);
font-size: 42.307px;
font-style: normal;
font-weight: 400;
line-height: 80%;
}

.bouton.titre svg{
/* width: 25px; */
height: 99px;
position: relative;

fill: #140100;

stroke-width: 4px;
stroke: var(--color-primary);
}

.bouton.titre .svg-left {
  left: 5px;
}
.bouton.titre .svg-right {
  right: 5px;
}
.bouton.titre  .square {
  width: 16px;
  height: 16px;
border: 4px solid #000;

background: #FFF;

box-shadow: 0 0 0 4px #FF6200;
  transform: rotate(45deg);
}
.bouton.titre  .square.left {
  position: relative;
  z-index: 20;
  left: 14.5px;
}
.bouton.titre .square.right {
  position: relative;
  z-index: 20;
  right: 14.5px;
}

.text-container{
  background-color: #2e5cd6;
  width: 100%;
  height: 100%;
  overflow: hidden;

}