

body {
  color: white;
   font-family: "futura-100-greek", sans-serif;
  /* font-weight: 700; normal */
  background: var(--color-bg);
  width: 100vw;
  height: 100vh;
  padding: 50px;
}
/* Frame 82 */

button {
  all: unset; /* réinitialise toutes les propriétés héritables et non héritables */
  -webkit-appearance: none;
  appearance: none;
  
}

a {
  all: unset;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
/* Frame 78 */
.window {
  position: relative;
  /* box-n: border-box; */
  /* overflow: hidden; */
        /* overflow-y: auto; */

  width: 100%;
  height: 100%;
  background: rgba(235, 115, 51, 0.01);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
    align-items: center;

  /* justify-content: center; */
  background: #170800;
border: var(--border-size) solid #EB7333;
box-shadow: 0px 4px 34px 1px rgba(0, 0, 0, 0.53), inset 0px 0px 186px -21px rgba(235, 115, 51, 0.2);
border-radius: 30px;
}
.chapitre-name{
  position: absolute;
  top: -22px;
}
.nav-chapitre{
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  gap: 8px;
    margin-top: 50px;

  
}
.chapitre{
  display: flex;
  align-items: center;
  gap: 8px;
}

.subtitle {
  font-size: 16px;
  margin-top: 6px;
  font-weight: normal;
}

h1 {
  font-family: var(--font-title);
  font-size: 64px;
  width: 500px;
  color: white;
  text-align: center;
  margin-top: 80px;
  font-weight: 100;
  text-transform: uppercase;
  
}




.explication {
  font-family: var(--font-primary);
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 150px;
width: 500px;
  line-height: 1.5;
}


.illustration-container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  left: 50px;
  /* gap: 40px; */
}
.illustration{
  position: absolute;
  bottom: -12px;
}

.chapitre-list{
  display: flex;
  position: relative;
}

.grid-langage {
  text-transform: uppercase;
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 12px;
grid-row-gap: 12px;
}




.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
}

.modal-content-help{
  background: var(--color-bg);
  /* background: linear-gradient(135deg, #1a0200 0%, #2d0400 100%); */
  border: var(--border-size) solid var(--color-primary);
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  left: 90px;
  z-index: 400;
}



.help-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 1, 0, 0.822);
  /* backdrop-filter: blur(5px); */
  z-index: 9999;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  justify-content: center;
  align-items: center;
}

.help-modal-overlay.active {
  display: flex;
  opacity: 1;
}

.help{
  position: absolute;
right: 29px;
bottom: 89px;
}

html {
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}