.button {
   font-family: var(--font-title);

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #140100;
  border: 3px solid var(--color-primary);
  transform: rotate(45deg);
  color: white;
  background: var(--color-bg);
}
button .item {
    display: block;
  transform: rotate(-45deg);
  /* font-size: 24px; */
}
.interaction-bouton{
  position: absolute;
display: flex;
justify-content: center;
z-index: 20;
height: 76px;
}
 #gaia-interaction{
  bottom: 345px;
  left: 645px;
}
.spin-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spin {
  animation: rotate 3s linear infinite;
  transform-origin: center;
    transition: opacity 0.3s ease; /* durée et style du fade */

}

@keyframes rotate {
  from {
    transform: rotate(var(--base-rotation));
  }
  to {
    transform: rotate(calc(var(--base-rotation) + 360deg));
  }
}


.sound.off {
  display: none;
}
.sound.on {
  display: block;
}